<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>

<section>

<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<h2>投稿一覧</h2>

			<% @post_images.each do |post_image| %>

			<%= attachment_image_tag post_image, :image, :image, :fill, 150, 150, format: 'jpeg' %>

			<p><%= post_image.caption %></p>

			<% end %>
		</div>
	</div>
</div>

</section>