<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>新規投稿</h2>

              <%= form_for(@post_image) do |f| %>
                <h4>画像</h4>
                <%= f.attachment_field :image %>

                <h4>投稿内容</h4>
                <%= f.text_area :caption %><br>

                <%= f.submit '投稿', class: "btn btn-primary" %>

              <% end %>

        </div>
   </div>
</div>